<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/listProviders"  *ngIf="authenticationService.isUserLoggedIn()">List Providers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addProvider" *ngIf="authenticationService.isUserLoggedIn()">Add Provider</a>
      </li>
  
      <li class="nav-item active">
        <a class="nav-link" routerLink="/listArticles" *ngIf="authenticationService.isUserLoggedIn()">List Articles</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/addArticle" *ngIf="authenticationService.isUserLoggedIn()">Add Article</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/signin" *ngIf="!authenticationService.isUserLoggedIn()">Signin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/signup"  *ngIf="!authenticationService.isUserLoggedIn()">Signup</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/logout"  *ngIf="authenticationService.isUserLoggedIn()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>